<h3><%= @status.to_s.capitalize %> Workflows</h3>

<%= erb sidekiq_hierarchy_template(:_workflow_table), locals: {workflows: @workflows} %>

Displaying <%= @workflows.size %> newest of <%= @workflow_set.size %>
